@import url(../css/bootstrap.min.css);
@import url(../css/bootstrap-theme.min.css);

/*
table.tl th {
	border: #C0C0C0 1px solid;
	height: 31px;
	background: #53637d
}

table.tl td {
	height: 26px;
	border: #C0C0C0 1px solid;
	background: #969fb0;
}

table.tl td.active {
	color: #808080;
	background: #969fb0;
}

.titlep {
	font-family: "Arial";
	font-size: 16pt;
	margin-bottom: 3px;
	color
	="#53637D"
}
*/