<
style type ="text/css"><!--table.hovertable {
	font-size: 10px;
	color: #333333;
	border-width: 1px;
	border-color: #999999;
	border-collapse: collapse;
}

table.hovertable th { #
	background-color: #3399FF;
	border-width: 1px;
	border-style: solid;
	border-color: #a9c6c9;
}

table.hovertable tr { #
	background-color: #EBEDF1;
}

table.hovertable td {
	border-width: 1px;
	border-style: solid;
	border-color: #a9c6c9;
}
-->
</
style
>